h1.logo {
	background: url("../images/logo-inverted.png") no-repeat top left;
	background-size: cover;
	height: 101px;
	width: 69px;
}

.highlight, pre {
	background-color: #333 !important;
	border-color: #333 !important;
}

span.tagline {
	color: #ddd;
	position: relative;
	top: -8px;
	z-index: 1;
}

.posts li {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.posts span.post-date {
	float: right;
}

.posts .post-link {
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav li {
	display: inline;
}

.list li {
	list-style: none;
	margin: 0px;
	border-top: 1px solid #3B3A3A;
	padding-bottom: 2em;
}

.list {
	margin: 0px !important;
	padding: 0px !important;
}

.member-name,
.yellow-title {
	font-weight: bold;
	text-transform: uppercase;
	background: #dfff00;
	color: black;
	padding: 4px;
}

.member-name:hover,
.yellow-title:hover {
	color: black;
	text-decoration: underline;
}

.gh-link {
	font-size: 0.6em;
	float: right;
}

.column-2 {
	width: 50%; /*fallback*/
/*	width: -webkit-calc(50% - 10px);
	width: -moz-calc(50% - 10px);
	width: -o-calc(50% - 10px);
	width: calc(50% - 10px);*/
	float: left;
}

.post-header h1 {
	font-size: 130px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -5.5px;
}


footer {
	border-top: 1px solid #3B3A3A;
}